<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts {{category.name}}</title>
</head>
<body>
    {{>_navbar}}
    <div class="container mt-4">
        {{#each posts}}
        <div class="card mt-4">
            <div class="card-header">
                <h2 class="d-flex justify-content-center">{{title}}</h2>
            </div>
            <div class="card-body">
                <p>{{slug}}</p>
                <p>{{descb}}</p>
                <p>{{content}}</p>
                <p>{{category.name}}</p>
                <p>{{date}}</p>
            </div>
        </div>
    {{else}}
        <div class="alert alert-danger">
            Nenhum post encontrado
        </div>
    {{/each}}
    </div>
</body>
</html>